@tailwind base;
@tailwind components;
@tailwind utilities;

.color-blue-cst{
    color: #22D3EE;
}

.color-blue-dark-cst{
    color: #1692a5;
}

.bg-color-blue-cst{
    background-color: #22D3EE;
}
.border-color-blue-cst{
    border-bottom: 4px solid #178c9e;
}
.bg-color-blue-dark-cst{
    background-color: #1793a7;
}

